@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1a227f;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121320;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: #0f172a; /* slate-900 */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
